.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading div{
    background-color: rgba(113, 113, 113, 0.694);
    height: 1.5px;
    width: 30vw;
}

.heading p{
    margin: 3vmax;
    font-size: 2.5vmax;
    color: rgb(71, 71, 71);
    font-weight: 100;
}